$measureDimensionFull: 64px;    
$measureDimensionXLarge: 32px;    
$measureDimensionLarge: 16px;    
$measureDimensionMedium: 8px;    
$measureDimensionSmall: 4px;    
$measureDimensionXSmall: 2px;    
$measureDimensionNone: 0px;    
$measureDimensionSpacingNone: 0px;    
$measureDimensionSpacingXxs: 2px;    
$measureDimensionSpacingXs: 4px;    
$measureDimensionSpacingS: 8px;    
$measureDimensionSpacingM: 12px;    
$measureDimensionSpacingBase: 16px;    
$measureDimensionSpacingL: 24px;    
$measureDimensionSpacingXl: 32px;    
$measureDimensionSpacingXxl: 64px;    
$measureDimensionSpacingXxxl: 128px;    
$measureDimensionFontWeightTypoFontWeightLight: 300px;    
$measureDimensionFontWeightTypoFontWeightRegular: 400px;    
$measureDimensionFontWeightTypoFontWeightMedium: 500px;    
$measureDimensionFontWeightTypoFontWeightBold: 700px;    
$measureDimensionScaleTypoScaleDisplayLarge: 56px;    
$measureDimensionScaleTypoScaleDisplayMedium: 36px;    
$measureDimensionScaleTypoScaleDisplaySmall: 28px;    
$measureDimensionScaleTypoScaleHeadlineLarge: 24px;    
$measureDimensionScaleTypoScaleHeadlineMedium: 22px;    
$measureDimensionScaleTypoScaleHeadlineSmall: 20px;    
$measureDimensionScaleTypoScaleBodyLarge: 18px;    
$measureDimensionScaleTypoScaleBodyMedium: 16px;    
$measureDimensionScaleTypoScaleBodySmall: 14px;    
$measureDimensionScaleCaption: 12px;    
$measureDimensionScaleOverline: 10px;    
$measureDimensionLineHeightTypoLineHeightReset: 100px;    
$measureDimensionLineHeightTypoLineHeightSmall: 125px;    
$measureDimensionLineHeightTypoLineHeightMedium: 135px;    
$measureDimensionLineHeightTypoLineHeightLarge: 150px;    
