
.typographyLineheightResetDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetDisplayLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightResetOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplayLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightSmallOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplayLargeMedium 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightMediumOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplayLargeMedium 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyLineheightLargeOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplayLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightResetOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplayLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightSmallOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 125%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplayLargeMedium 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightMediumOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 135%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplayLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplayLargeMedium 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplayMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplayMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplaySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeDisplaySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineSmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeHeadlineSmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodyLargeBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodyLargeRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodyMediumBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodyMediumRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodySmallBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeBodySmallRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeCaptionBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeCaptionRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeOverlineBold 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyLineheightLargeOverlineRegular 
{ 
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

